<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seboid.udem"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".ActivityDebug" >
        </activity>
        <activity
            android:name=".ActivityUdeMNouvelles"
            android:label="UdeM|Nouvelles" >
        </activity>
        <activity
            android:name=".ActivityUdeMWeb"
            android:label="UdeM|Nouvelles" >
        </activity>
        <activity
            android:name=".ActivityUdeMDetail"
            android:label="UdeM|Nouvelles" >
        </activity>
        <activity
            android:name=".ActivityUdeMListFeed"
            android:label="@string/app_udemrssFeedName" >
        </activity>
        <activity
            android:name=".ActivityUdeMListCat"
            android:label="@string/app_udemrssCatName" >
        </activity>
        <activity
            android:name=".ActivityUdeMListFC"
            android:label="Sources et catégories" >
              <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityUdeMListFeedCat"
            android:label="@string/app_udemrssFeedCatName" >
        </activity>
        <activity
            android:name=".ActivityPreferences"
            android:label="@string/app_myPreferencesName" >
        </activity>
        <activity
            android:name=".BonjourActivity"
            android:label="@string/app_bienvenueName" >           
        </activity>

        <service android:name=".ServiceRss" >
        </service>

        <receiver android:name=".ReceiverBoot" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ReceiverNetwork" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".UdeMWidget"
            android:label="UdeM widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>

        <provider
            android:name=".UdeMContentProvider"
            android:authorities="com.seboid.udem.nouvelles"
            android:exported="true" >
        </provider>
    </application>

</manifest>